*, *:before, *:after {
  box-sizing: border-box !important;
}

.main-section.hidden {
    display: none;
}

.menu-links li a {
  transition: font .2s;
}

.menu-links li .active {
  font-size: 1.3em;
}

.no-pad {
  padding: 0 0 0 0 !important;
}


body .container {
  max-width: 1440px;
}


#nav-left .version {
  color: #333;
  font-weight: bold;
  padding: 10px 0 0 10px;
  display: inline-block;
  font-size: 0.8em;
  line-height: 54px;
}

#nav-left .logo,
#nav-left .logo img {
  height: 60px;
}

#nav-right .show-root:hover {
  color: #333;
}
#nav-right .show-root {
  color: #666;
  font-weight: bold;
}

#nav-right .nav-wrapper {
  padding-left: 20px;
  color: #333;
}

@media only screen and (min-width: 993px) {
  body .container {
      width: 80%;
  }
}

@media only screen and (min-width: 601px) {
  body .container {
      width: 90%;
  }
}

.robot { font-family: Menlo,Monaco,Consolas,"Courier New",monospac;}
.small {font-size: 0.8em;}
.generated {opacity: .5;}

.navigation {
  margin-top: 0;
}
.navigation a {
  color: #333;
}

.navigation a:hover {
    color: #000;
    text-decoration: underline;
}


.navigation h3 {
    color: #333;
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}

.navigation ul {
    margin: 5px 0 20px 0;
}

.navigation li {
    line-height: 1.1em;
    display: block;
    float: none
}

.navigation li.active {
    font-weight: bold;
    color: #000;
    line-height: 1.5em;
}


.main-section.r h2 a, .main-section.t h2 a,
.main-section.s h2 a, .main-section.a h2 a {
    color: #333;
}

#ist > section {
    margin: 0 0 20px 0;
}

#ist > section::before {
    color: #666;
    font-size: 0.8em
}

#ist > section header {
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 150px;
}
#ist > section header > .info,
#ist > section .r-key > .info {
    float: right;
    display: inline-block;
    max-width: 40%;
    text-align: right;
    font-size: .8em;
    max-height: 170px;
    overflow-y: auto;
}

#ist > section header h2 {
    font-size: 2.5em;
    margin-top: 0;
}

#ist > section h3 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospac;
}

#ist > section header .details .section {
    margin: 10px;
    padding: 0;
}

#ist > section header .details .section > * {
    margin: 0;
    padding: 0;
}
#ist > section header .details .section .info {
    color: #333;
    font-weight: bold;
}

#ist > section .section-list {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 15px;
    display: block;
}

#ist > section .item-list {
    margin: 0;
    padding: 0;
}

#ist > section .item-list > li {
    padding: 0;
    margin: 0 0 0 20px;
    min-height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#ist > section .item-list > li:last-child {
    border: none;
}

#ist > section .item-list h3 {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;;
  padding: 3px;
  border-radius: 3px;
}

#ist > section .item-list .description {
    margin: 0 0 0 15px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.23);
}

.description::before,.description::after {
    content: '"';
    color: #666;
    font-size: 1.0em;
    opacity: .5;
}

.description p {
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.description > p {
    display: inline;
}

.no-description {
    font-variant: small-caps;
    font-style: italic;
    color: #555;
}
.no-description::before, .no-description::after {
    content: none;
}

.chevron::before {
  content: ' <';
  color: #666;
}

.chevron::after {
  content: '>';
  color: #666;
}

.item-header > .info ,
.info .info {
  color: #666;
  opacity: 0.9;
  font-size: 0.9em;
  line-height: 0.9;
}

.item-header {
    margin: 15px 0 10px 0;
}

.item-header * {
    display: inline;
}




html, body,
body .container,
body .container .row {
  height: 100% !important;
  margin-bottom: 0;
}

html {
  overflow: hidden;
}
#col-right,
#col-left {
  float: left;
  height: 100%;
  overflow: scroll;
}


::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
::-webkit-scrollbar-thumb {
  background-color: #999;
  border: none;
}
