*, *:before, *:after {
  box-sizing: border-box !important;
}

.menu-links li a {
  transition: font .2s;
}

.menu-links li .active {
  font-size: 1.3em;
}

.main-section.hidden {
    display: none;
}

#nav {
    position: fixed;
    z-index: 1;
    height: 64px;
    line-height: 64px;
    transition: opacity .10s ease-in-out;
}

#nav.small, #nav.small a.button-collapse i{
    height: 32px;
    line-height: 32px;
}

#nav .menu-links .toggle-btn {
    height: 64px;
}
#nav.small .menu-links .toggle-btn {
    height: 32px;
}

#nav.down {
    opacity: 0;
}
#nav > div > a {
    color: #333;
}

#sidenav-overlay {
    z-index: 0;
}

.menu-links a {
    color: #333333;
}

.menu-links .toggle-btn {
    color: #FFFFFF;
}


#navspace {
    height: 64px;
}

.navigation {
    overflow-y: auto;
    position: fixed;
    top: 220px;
    width: 250px;
    bottom: 0;
}

.container .items {
    width: 250px;
}

.container .input-reference {
    padding: 0 0 0 270px;
    width: 100%;
}

.navigation h3 {
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}

.navigation ul {
    margin: 5px 0 20px 0;
}

.navigation li {
    line-height: 1.2em;
}

.navigation a {
    font-size: 0.7em;
    color: #333;
    line-height: 0.5em;
    width: 100%;
}

.navigation li.active {
    font-weight: bold;
    color: #000;
    line-height: 1.5em;
}

.navigation a:hover {
    color: #000;
    text-decoration: underline;
}

#ist > section {
    margin: 0 0 20px 0;
}

#ist > section::before {
    color: #666;
    font-size: 0.8em
}

#ist > section header {
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 150px;
}
#ist > section header > .info,
#ist > section .r-key > .info {
    float: right;
    display: inline-block;
    max-width: 40%;
    text-align: right;
    font-size: .8em;
    max-height: 170px;
    overflow-y: auto;
}

#ist > section header h2 {
    font-size: 2.5em;
    margin-top: 0;
}

.main-section.r h2 a, .main-section.t h2 a,
.main-section.s h2 a, .main-section.a h2 a {
    color: #333;
}

#ist > section h3 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospac;
}

#ist > section header .details .section {
    margin: 10px;
    padding: 0;
}

#ist > section header .details .section > * {
    margin: 0;
    padding: 0;
}
#ist > section header .details .section .info {
    color: #333;
    font-weight: bold;
}

#ist > section .section-list {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 15px;
    display: block;
}

#ist > section .item-list {
    margin: 0;
    padding: 0;
}

#ist > section .item-list > li {
    padding: 0;
    margin: 0 0 0 20px;
    min-height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#ist > section .item-list > li:last-child {
    border: none;
}

#ist > section .item-list h3 {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;;
  padding: 3px;
  border-radius: 3px;
}

#ist > section .item-list .description {
    margin: 0 0 0 15px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.23);
}



.description::before,.description::after {
    content: '"';
    color: #666;
    font-size: 1.0em;
    opacity: .5;
}

.description p {
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.description > p {
    display: inline;
}

.no-description {
    font-variant: small-caps;
    font-style: italic;
    color: #555;
}
.no-description::before, .no-description::after {
    content: none;
}

.chevron::before {
  content: ' <';
  color: #666;
}

.chevron::after {
  content: '>';
  color: #666;
}

.item-header > .info ,
.info .info {
  color: #666;
  opacity: 0.9;
  font-size: 0.9em;
  line-height: 0.9;
}

.robot {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospac;
}

.item-header {
    margin: 15px 0 10px 0;
}

.item-header * {
    display: inline;
}


.generated {
    opacity: .5;
}